.characters-block
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100%

.card
  margin-bottom: 24px
  margin-right: 20px

.card:nth-child(4n)
  margin-right: 0
.pagination
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 50px
  width: 200px
  text-align: center
  margin: 0 auto
  position: relative
  &-arrow
    position: absolute
    cursor: pointer
    padding: 5px
    font-size: 24px
    &.right
      right: 0
    &.left
      left: 0
  &-page
    display: flex
    flex-direction: row
    width: fit-content
    position: absolute
  &-pages
    border: 1px solid black
    border-radius: 50%
    background: cornflowerblue
    width: 25px
    height: 25px
    display: flex
    justify-content: center
    align-items: center
    &.active
      background: dodgerblue
      width: 30px
      height: 30px
      margin: 0 5px
.pagination-pages-wrap
  width: 25px
  height: 25px
  cursor: pointer
@media screen and (max-width: 1050px)
  .characters-block
    padding: 0 20px
    justify-content: center
  .card
    margin: 20px 10px
  .card:nth-child(4n)
    margin: 20px 10px
