<div class="auth-block" [ngStyle]="{'max-width.px': !show? 530 : 129}" [ngClass]="{'between': !show}">
  <div class="auth-filters" *ngIf="!show">
    <div class="auth-filters-block"><label for="selectAll">getAll</label><input name="logic" id="selectAll" value="getAll" type="radio"></div>
    <div class="auth-filters-block"><label for="selectPagination">on/off Pagination</label><input name="logic" id="selectPagination" value="selectPagination" type="radio"></div>
    <div class="auth-filters-block"><label for="selectByGetParams">OldLogic</label><input name="logic" id="selectByGetParams" value="selectByGetParams" type="radio"></div>
  </div>
  <div class="auth-block-logo">
    <div class="auth-block-logo-img"></div>
    <div class="auth-block-logo-name">User FirstName</div>
  </div>
</div>
<div class="show-hide" (click)="show=!show">
  {{show? '<': 'x'}}
</div>

<div class="error-block">
  You need to login!
</div>
